* {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: Heart;
  src: url(../fonts/Heart\ Breaking\ Bad.otf);
}

.html {
  margin: 0;
  width: 100%;
}
body {
  margin: 0;
  width: 100%;
}

#main_container {
  height: 100vh;
  min-height: 100%;
  flex-direction: column;
  display: flex;
}

a {
  color: white;
}

span {
  color: white;
  text-decoration: none;
}


