* {
    font-family: Arial, Helvetica, sans-serif;
}
.html, body {
    margin: 0;
    width: 100%;
}

.image {
    display: flex;
    gap: 0.5rem;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title {
    margin: 1rem;
    font-size: larger;
}

h1 {
    text-align: center;
    font-size: 2rem;
}

h2 {
    text-align: center;
    font-size: 1.5rem; 
    font-weight: normal;
    color: rgb(56, 56, 56);
}

nav {
    background: rgb(13,68,58);
    background: linear-gradient(90deg, rgba(13,68,58,1) 0%, rgba(0,108,31,1) 100%);
    width: 100%;
}

 nav ul {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    margin: 0;
    align-items: center;
}

 nav li {
    list-style: none;
}

nav a {
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

.section-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-title {
    width: 30%;
    margin: 4rem;
}

.video {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video video {
    margin: 4rem;
}

table {
    border-collapse: collapse;
    border-radius: 1rem;
    margin: 1rem;
}

th, td {
    padding: 0.5rem;
}

td, th {
    border: 1px solid black;
    border-radius: 1rem;
}



@media screen and (max-width: 480px) {
    .image {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .image img {
        width: 70%;
    }

    .section-flex img {
        width: 40dvw;
        margin: 10%;
    }

    .title h1 {
        font-size: 1.5rem;
    }

    .title h2 {
        font-size: 1rem;
    }
    .video video {
        width: 93% !important;
    }

    td img {
        width: 50% !important;
    }

    h1 {
        font-size: 1rem;
    }
}
